{% extends 'base.html' %}

{% block content %}
    <section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-3 text-center">
      <div class="sl:w-1/2 mb-10 px-10">
        <div class="rounded-lg h-65 overflow-hidden">
          <img class="object-cover h-full w-full" src="https://octodex.github.com/images/jetpacktocat.png">
        </div>
        <h2 class="title-font text-2xl font-medium text-white mt-6 mb-3">Let's help you create a hassle free pharmacy!</h2>
        <p class="leading-relaxed text-base">We take the stress out of managing your orders and devlieveries</p>
        <a href="{% url 'login' %}"><button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Login</button>
      </div>
    </div>
  </div>
</section>
{% endblock content %}